<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MTIS</a>

      <button
        class="btn"
        style="margin-top:10px" 
        routerLink="/">
         <a href="/"> Home </a>
      </button>

    </div>
    <div class="navbar-header pull-right">
      <button
        class="btn btn-primary btn-margin "
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Logearse
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Cerrar Sessión
      </button>
    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
